%h2.center= I18n.t("titles.user_verify_vote_new")
%ol.breadcrumb.center
  %li
    = link_to I18n.t("titles.home"), root_path
  %li
    = link_to I18n.t("titles.user_cabinet"), user_path
  %li
    = link_to I18n.t("titles.user_trust_votes"), user_verify_votes_path

.panel.panel-default
  .panel-heading
    Проверяемый человек
  .panel-body
    %p
      Вы можете ввести либо идентификатор вручную, либо софрмировать его, указав персональные данные 
      проверяемого человека.
    %p
      Введите фамилию, имя, отчество и дату рождения проверяемого человека.
      Эти данные не будут отправлятся на сервер или где-либо сохраняться.
      Они будут использованы лишь для определения идентификатора проверяемого.
    %p.center
      %b
        * Фамилия:
      %input{ :type => 'text', :id => 'last_name'}
      %b
        * Имя:
      %input{ :type => 'text', :id => 'first_name'}
      %b
        * Отчество:
      %input{ :type => 'text', :id => 'middle_name'}
    %p.center
      %b
        * Дата рождения (в виде ДД.ММ.ГГГГ с нулями, например "01.01.1990"):
      %br
      %input{ :type => 'text', :id => 'birth_date'}
  
= simple_form_for :vote, :url => user_verify_votes_path, :method => :post, :html => {:autocomplete => "off", :id => 'new_trust_vote_form' } do |f|
  .center
    = f.input :vote_idhash, :input_html => { id: 'new_vote_idhash_field' }, required: true
    = f.input :vote_doc_key, required: true
  %br
  .panel.panel-default
    .panel-heading
      %b
        Уровень верификации
    .panel-body.center
      %p
        Своим голосом вы должны удостоверить степень вашей уверенности в том, что именно данный реальный человек,
        с указанными выше персональными данными (которые он должен вам предоставить), имеет доступ к документу
        с указанным выше идентификатором.
      %table.white.wide.padded
        %tr
          %td.left{:width => '20%'}
            Уверен в обратном
          %td.center
            = f.input_field :vote_verify_level, required: true, label: false, id: 'verify-level', size: 4, style: 'text-align: center;', readonly: true
          %td.right{:width => '20%'}
            Польностью уверен
        %tr
          %td{:colspan => 3}
            %div{ id: 'slider-range-verify' }
  .center
    = f.button :submit, "Готово", :class => 'btn btn-primary'
    = link_to "Назад", :back, :class => 'btn btn-default'
