%h2.center= I18n.t("titles.user_trust_vote_new")
%h3.center
  = link_to I18n.t("titles.home"), root_path
  = "-"
  = link_to I18n.t("titles.user_cabinet"), user_path
  = "-"
  = link_to I18n.t("titles.user_trust_votes"), user_trust_votes_path
  
= simple_form_for :vote, :url => user_trust_vote_path(@vote.vote_idhash), :method => :put, :html => {:autocomplete => "off"} do |f|
  .center
    = f.input :vote_idhash, required: false, disabled: true, :input_html => {:size=> '76', :class=>'center'}
    = link_to "проверка идентификатора пользователя", idhash_check_user_path, :target => "_blank"
  %br
  .panel.panel-default
    .panel-heading
      %b
        Уровень доверия
    .panel-body.center
      %p
        Данным своим голосом вы должны указать насколько вы доверяете данному человеку при удостоверении им
        других людей. Например, если вы уверены, что этот человек установил высокий уровень верификации
        несуществующим в реальности людям, то, уровень доверия ему имеет смысл сделать минимальным.
      %table.white.wide.padded
        %tr
          %td.left{:width => '20%'}
            Не довереяю
          %td.center
            = f.input_field :vote_trust_level, required: true, label: false, id: 'trust-level', size: 4, style: 'text-align: center;', readonly: true
          %td.right{:width => '20%'}
            Польностью доверияю
        %tr
          %td{:colspan => 3}
            %div{ id: 'slider-range-trust'}
  .center
    = f.button :submit, "Готово", :class => 'btn btn-primary'
