%h2.center= I18n.t("titles.user_trust_vote_new")
%ol.breadcrumb.center
  %li
    = link_to I18n.t("titles.home"), root_path
  %li
    = link_to I18n.t("titles.user_cabinet"), user_path
  %li
    = link_to I18n.t("titles.user_trust_votes"), user_trust_votes_path
  
= simple_form_for :vote, :url => user_trust_vote_path(@vote.vote_idhash), :method => :put, :html => {:autocomplete => "off"} do |f|
  .center
    = f.input :vote_idhash, required: false, disabled: true, :input_html => {:size=> '76', :class=>'center'}
    = link_to "проверка идентификатора пользователя", idhash_check_user_path, :target => "_blank"
  %br
  .panel.panel-default
    .panel-heading
      %b
        = I18n.t('user_trust_net.trust_level')
    .panel-body.center
      %p
        Данным своим голосом вы должны указать насколько ответственным вы считаете данного человека при заверении им паспортов
        других людей. Например, если вы уверены, что этот человек заверил паспорта
        несуществующим в реальности людям, то уровень доверия ему имеет смысл сделать минимальным.
      %table.white.wide.padded
        %tr
          %td.left{:width => '20%'}
          %td.center
            = f.input_field :vote_trust_level, required: true, label: false, id: 'trust-level', size: 4, style: 'text-align: center;', readonly: true
          %td.right{:width => '20%'}
        %tr
          %td{:colspan => 3}
            %div{ id: 'slider-range-trust'}
        %tr
          %td.left{:width => '20%'}
            Безответственный
          %td.center
            Пока не знаю
          %td.right{:width => '20%'}
            Польностью ответственный
  .center
    = f.button :submit, "Готово", :class => 'btn btn-primary'
    = link_to "Назад", :back, :class => 'btn btn-default'
