%h2.center= I18n.t("titles.other_user_trust_votes")
%h3.center
  = link_to I18n.t("titles.home"), root_path
  = "-"
  = link_to I18n.t("titles.user_info"), doc_info_user_path(:doc_key => @doc_key, :idhash => @idhash)
%p.input-group
  %span.input-group-addon
    = I18n.t("user_info_page.idhash")
  - input_style = "text-align: center;"
  - if !@doc_key
    - input_style = "#{input_style}background-color: red;"
  %input.form-control{ :value => @idhash, :readonly => true, :style => input_style }
  %span.input-group-addon
    = I18n.t("user_info_page.idhash")
%table.table.table-bordered.table-hover.table-condensed
  %tr
    %th.center
      = I18n.t('user_trust_net.id')
    %th.center
      = I18n.t('user_trust_net.doc_key')
    %th.center.col-sm-1
      = I18n.t('user_trust_net.verify_level')
    %th.center.col-sm-1
      = I18n.t('user_trust_net.trust_level')
  - @user_trust_votes.each do |vote|
    %tr
      %td
        = link_to doc_info_user_path(:idhash => vote.vote_doc_key) do
          = spaced_str(vote.vote_idhash)
      %td.center
        = link_to "http://spreadsheets.google.com/ccc?key=#{vote.vote_doc_key}", :target => '_blank' do
          = spaced_str(vote.vote_doc_key)
      %td.center
        = vote.vote_verify_level
      %td.center
        = vote.vote_trust_level
