%h2.center= I18n.t("titles.user_trust_votes")
%ol.breadcrumb.center
  %li
    = link_to I18n.t("titles.home"), root_path
  %li
    = link_to I18n.t("titles.user_cabinet"), user_path
%p
  = link_to new_user_trust_vote_path do
    %button.btn.btn-primary
      = I18n.t('new')
%table.table.table-bordered.table-hover.table-condensed
  %tr
    %th.center
      = I18n.t('user_trust_net.id')
    %th.center.col-sm-1
      = I18n.t('user_trust_net.trust_level')
    %th.center.col-sm-2
      = I18n.t('actions')
  - @user_trust_votes.each do |vote|
    %tr
      %td.center
        = link_to doc_info_user_path(:idhash => vote.vote_idhash) do
          = show_idhash(vote.vote_idhash)
      %td.center
        = vote.vote_trust_level
      %td.center
        = link_to edit_user_trust_vote_path(vote.vote_idhash) do
          %button.btn.btn-primary
            = I18n.t('edit')
        = link_to user_trust_vote_path(vote.vote_idhash), :method => :delete, :data => { :confirm => I18n.t('are_you_sure') } do
          %button.btn.btn-warning
            = I18n.t('delete')
.center
  = link_to "Назад", :back, :class => 'btn btn-default'
