%p.center
  = link_to trust_net_path do
    %button.btn.btn-primary.btn-lg= I18n.t("titles.trust_net")
  = link_to user_path do
    %button.btn.btn-primary.btn-lg= I18n.t("titles.user_cabinet")
  = link_to auth_path do
    - if session[:auth_token].present? && session[:refresh_token].present?
      %button.btn.btn-success.btn-lg= I18n.t("titles.authorization")
    - else
      %button.btn.btn-warning.btn-lg= I18n.t("titles.authorization")

%h2.center Сеть доверия на основе документов Google

%h3
  Зачем нужна сеть доверия?
%p
  В последнее время, в связи с развитием сети интернет, все чаще встает вопрос о возможности проведения различных голосований и выборов с ее использованием. Однако, если при проведении выборов обычным образом, без использования интернет, организаторы могут проверить документы голосующего. Через сеть это сделать сложно или слишком ресурсоемко.
%p
  Сеть доверия предназначена для решения этой проблемы. В сети доверия такой проверкой документов может заниматься любой ее пользователь. Пользователи могут проверять документы друг у друга различными способами. В зависимости от надежности использованного в разных случаях способа проверки, они могут указывать для проверенных пользователей соответствующий уровень проверки.

%h3
  Что именно проверяется в сети доверия?
%p
  Для того, что-бы пользователь мог участвовать в голосованиях через сеть интернет, у него должно быть нечто электронное, доступное только ему, через что он может это делать. В идеальном случае это может быть личная электронно-цифровая подпись (ЭЦП). Но ее использование связано с множеством технических и организационных трудностей. Поэтому мы используем документы Google в качестве такого ресурса. В специальной таблице, которая доступна для редактирования только пользователю-владельцу, но при этом для чтения доступная всем, размещается вся информация о голосовании данного пользователя как в сети доверия, так и в голосованиях.
%p
  Когда вы проводите проверку какого-то участника сети доверия, вы проверяете что данный документ Google управляется именно этим человеком, имеющим такое фамилию, имя, отчество и дату рождения. При этом внутри системы ФИО и дата рождения преобразуются в специальный идентификатор из которого нельзя простым способом извлечь назад эти данные. Таким образом, персональная информация будет скрыта. При этом своим голосом в сети доверия вы удостоверяете, что существует реальный человек, документы которого вы проверили, который соответствует данному идентификатору и который владеет данным документом Google. И, таким образом, вы удостоверяете что мнение, высказанное через данный документ Google будет являться мнением реального человека.
%p
  Наличие идентификатора, который использует для своего формирования личные данные человека, гарантирует что данный человек может участвовать в деятельности сети только один раз. Т.к. дублирование идентификаторов с привязкой к нескольким документам не допускается и легко проверяется.

%h3
  Проведение проверки
%p
  Т.к. процедура проверки подразумевает ее взаимность, во время ее проведения два пользователя предоставляют друг другу свои документы для проверки данных о ФИО и дате рождения. Кроме этого, они сообщают друг другу идентификаторы своих документов, через которые они проводят голосование. Таким образом, процедура проверки всегда симметрична. Однако, при удаленном способе проверки именно инициатору принадлежит обязанность первым предоставить свои документы для проверки.
%p
  В зависимости от способа проведения проверки, возможно использование различных уровней. Например, когда два человека встречаются лично и проверяют документы друг друга - это самый надежный способ, достойный самой высокой оценки (10 баллов). Если документы проверяются с использованием скана паспорта, пересылаемого по емэйл - это довольно низкий уровень проверки (3-5 баллов). Если при этом используется видеопроверка через скайп, уровень проверки можно немного повысить (6-7 баллов). Без использования skype (или как дополнение), только с помощью сканов уровень проверки можно повысить так-же предоставив несколько вариантов документов, на которых есть фото, ФИО и дата рождения. Однако, следует иметь ввиду, что наивысший уровень при использовании удаленной проверки ставить не рекомендуется.
%p
  Если участник сети доверия отказывается от проверки или вообще не выходит на связь для проверки, вы пользователь, который отправил ему предложение о проверке может поставить проверяемому отрицательный индекс проверки различной величины. Она может зависеть от уровня личной уверенности этого пользователя в том, что проверяемый не соответствует критериям проверки.

%h3
  Зачем нужен уровень доверия?
%p
  Кроме уровня самой проверки (уровня верификации) в сети доверия используется такое значение, как “уровень доверия”. Это значения необходимо для саморегулирования сети доверия. Рассмотрим такой случай…
%p
  Некий злонамеренный пользователь создал себе несколько аккоунтов Google и таким образом зарегистрировался в сети доверия с несколькими документами. После этого, каждым из этих “пользователей” он удостоверил уровень доверия остальных своих “пользователей”. И получилось что в сети доверия присутствует несколько пользователей, которые не соответствуют реальным людям. Изначально предотвратить такую ситуацию невозможно. Но ее возможно урегулировать постфактум.
%p
  При обнаружении пользователя, который не может или не желает провести процедуру верификации, инициатор процедуры должен сделать два действия:
%p
  1. Установить уровень верификации для него ниже 0;
  %br
  2. Найти записи тех пользователей, которые его удостоверили и установить для них уровень доверия ниже 0;
  %br
  3. Для пользователей, удостоверивших данного, провести процедуру верификации и при ее неудачном завершении, продолжить с п.1.
%p
  Процедура расчета результатов устроена так, что при понижении уровня доверия пользователю, его результат будет учитываться с понижением. Т.е. если пользователь кому-то поставил уровень проверки 10 и при этом другие пользователи установили ему уровень доверия 0, данный его результат на оцередном цикле проверки будет учтен как 5. Полностью игнорироваться он будет только при понижении общего уровня доверия до -10.
%p
  Также необходимо учитывать следующий момент… Уровень верификации выставляется паре пользователь-документ. Уровень доверия выставляется только человеку. Даже если он сменит свой документ (что, в принципе, возможно), потеряв при это уровень верификации, уровень доверия у него останется на основе предыдущих голосов.

%h3
  Как использовать результаты сети доверия
%p
  Даже если не использовать средства голосования, встроенные в нашу реализацию, вы можете использовать данные нашей сети доверия в своих голосованиях или других проектах. При этом у вас будет уверенность что за каждым идентификатором сркывается отдельный реальный человек, а не толпа ботов.
%p
  Получить результаты сети доверия очень просто - достаточно использовать адреса вида http://trustnet.gplvote.org/trust_net.json (для получения результатов в формате JSON) или http://trustnet.gplvote.org/trust_net.xml (для получения результатов в формате XML). Далее вы можете использовать их в соответствии с логикой своего приложения.

%p.center
  = link_to trust_net_path do
    %button.btn.btn-primary.btn-lg= I18n.t("titles.trust_net")
  = link_to user_path do
    %button.btn.btn-primary.btn-lg= I18n.t("titles.user_cabinet")
  = link_to auth_path do
    - if session[:auth_token].present? && session[:refresh_token].present?
      %button.btn.btn-success.btn-lg= I18n.t("titles.authorization")
    - else
      %button.btn.btn-warning.btn-lg= I18n.t("titles.authorization")
