.panel.panel-default
  .panel-body.center
    %table.invis.center.white{:align => 'center'}
      %tr
        %td.right{:width => '33%'}
          = link_to auth_user_path do
            - if session[:auth_token].present? && session[:refresh_token].present?
              %button.btn.btn-primary.btn-lg.wide= I18n.t("titles.authorization")
            - else
              %button.btn.btn-warning.btn-lg.wide= I18n.t("titles.authorization")
        %td.center{:width => '33%'}
          = link_to user_path do
            %button.btn.btn-primary.btn-lg.wide= I18n.t("titles.user_cabinet")
        %td.left
          = link_to trust_net_path do
            %button.btn.btn-primary.btn-lg.wide= I18n.t("titles.trust_net_results")
      %tr
        %td.right
          = link_to new_user_verify_vote_path do
            %button.btn.btn-success.btn-lg.wide= I18n.t("master.actions.verify_other")
        %td.center
          = link_to new_user_trust_vote_path do
            %button.btn.btn-success.btn-lg.wide= I18n.t("master.actions.trust_other")
        %td.left
          = link_to new_user_property_vote_path do
            %button.btn.btn-success.btn-lg.wide= I18n.t("master.actions.set_property")

%h2.center Электронный паспорт на основе документов Google

%h3
  Зачем нужен электронный паспорт?
%p
  В последнее время, в связи с развитием сети интернет, все чаще встает вопрос о возможности проведения различных голосований и выборов с ее использованием. При проведении голосований обычным образом, без использования интернет, организаторы могут проверить документы голосующего. Через сеть это сделать сложно или слишком ресурсоемко. Поэтому, голосования в сети интернет подвержены различным "накруткам" и подделкам.
%p
  Электронный паспорт предназначен для решения этой проблемы. Заверить его, проверив документы друг друга, могут любые участники. Они могут проверять документы друг у друга различными способами. В зависимости от надежности способа проверки, они могут указывать для проверенных участников и паспортов различный уровень заверения.

%h3
  Что именно проверяется при заверении паспорта?
%p
  Для того, что-бы пользователь мог участвовать в голосованиях через сеть интернет, у него должно быть нечто электронное, доступное только ему, через что он может это делать. В идеальном случае это может быть личная электронно-цифровая подпись (ЭЦП). Но ее использование связано с множеством технических и организационных трудностей. Поэтому мы используем документы Google в качестве такого ресурса. В специальной таблице Google (паспорте) размещается вся информация о голосовании данного пользователя как в сети доверия, так и в голосованиях. Этот паспорт доступен для редактирования только пользователю-владельцу. Но просматривать его может кто угодно.
%p
  Когда вы проводите проверку какого-то пользователя, вы проверяете что данный паспорт управляется именно этим человеком, имеющим такое фамилию, имя, отчество и дату рождения. При этом внутри системы ФИО и дата рождения преобразуются в специальный идентификатор из которого нельзя простым способом извлечь назад эти данные. Таким образом, персональная информация будет скрыта. Своим заверением вы удостоверяете, что существует реальный человек, документы которого вы проверили, который соответствует данному идентификатору и который владеет данным электронным паспортом. И, таким образом, вы удостоверяете что мнение, высказанное через данный паспорт будет являться мнением реального человека.
%p
  Наличие идентификатора, который использует для своего формирования личные данные человека, гарантирует что данный человек может участвовать в деятельности сети только один раз. Т.к. дублирование идентификаторов с привязкой к нескольким паспортам не допускается и легко проверяется.

%h3
  Проведение проверки
%p
  Т.к. процедура проверки подразумевает ее взаимность, во время ее проведения два пользователя предоставляют друг другу свои документы для проверки данных о ФИО и дате рождения. Кроме этого, они сообщают друг другу коды своих паспортов, через которые они проводят голосование. Таким образом, процедура проверки всегда взаимна. Однако, при удаленном способе проверки именно инициатору проверки принадлежит обязанность первым предоставить свои документы для проверки.
%p
  В зависимости от способа проведения проверки, возможно использование различных уровней. Например, когда два человека встречаются лично и проверяют документы друг друга - это самый надежный способ, достойный самой высокой оценки (10 баллов). Если документы проверяются с использованием скана общегражданского паспорта, пересылаемого по емэйл - это довольно низкий уровень проверки (3-5 баллов). Если при этом используется видеопроверка через скайп, уровень проверки можно немного повысить (6-7 баллов). Без использования скайп (или как дополнение), только с помощью сканов уровень проверки можно повысить так-же предоставив несколько вариантов документов, на которых есть фото, ФИО и дата рождения. Однако, следует иметь ввиду, что наивысший уровень при использовании удаленной проверки ставить не рекомендуется.
%p
  Если пользователь отказывается от проверки или вообще не выходит на связь для проверки, вы, как пользователь, который отправил ему предложение о проверке, можете поставить проверяемому отрицательный уровень заверения. Конкретная величина может зависеть от степени вашей уверенности в том, что проверяемый не соответствует критериям проверки.

%h3
  Зачем нужен уровень ответственности?
%p
  Кроме уровня заверения паспорта в сети доверия используется такое значение, как “уровень ответственности”. Это значения необходимо для саморегулирования сети доверия. Рассмотрим такой случай…
%p
  Некий злонамеренный пользователь создал себе несколько аккоунтов Google и таким образом зарегистрировался в паспортной сети с несколькими паспортами. После этого, каждым из этих “пользователей” он заверил паспорта с высоким уровнем. И получилось что в сети присутствует несколько пользователей, которые не соответствуют реальным людям. Изначально предотвратить такую ситуацию невозможно. Но ее возможно урегулировать постфактум.
%p
  При обнаружении пользователя, который не может или не желает провести процедуру проверки и заверения паспорта, инициатор процедуры должен сделать два действия:
%p
  1. Установить уровень заверения его паспорта ниже 0;
  %br
  2. Если вы окончательно убедились в том что пользователь поддельный, найти записи тех пользователей, которые заверили его паспорт и установить для них уровень доверия ниже 0;
  %br
  3. Для пользователей, заверивших паспорт данного, провести процедуру проверки и заверения из паспортов и при ее неудачном завершении, продолжить с п.1.
%p
  Процедура расчета результатов устроена так, что при понижении уровня ответственности пользователя, его результат будет учитываться с понижением. Т.е. если пользователь кому-то поставил уровень заверения паспорта 10 и при этом другие пользователи установили ему уровень ответственности 0, данный его результат на очередном цикле проверки будет учтен как 5. Полностью игнорироваться он будет только при понижении общего уровня ответственности данного пользователя до -10.
%p
  Также необходимо учитывать следующий момент… Уровень заверения выставляется паре пользователь-паспорт. Уровень ответственности выставляется только человеку. Даже если он сменит свой электронный паспорт (что, в принципе, возможно), потеряв при это уровень его заверения, уровень ответственности у него останется на основе предыдущих голосов.

%h3
  Как использовать результаты
%p
  Даже если не использовать средства голосования, встроенные в нашу реализацию, вы можете использовать данные нашей сети в своих голосованиях или других проектах. При этом у вас будет уверенность что каждый паспорт представляет отдельного реального человека, а не уого-то не существующего.
%p
  Технически получить результаты очень просто - достаточно использовать адреса вида http://trustnet.gplvote.org/trust_net.json (для получения результатов в формате JSON) или http://trustnet.gplvote.org/trust_net.xml (для получения результатов в формате XML). Далее вы можете использовать их в соответствии с логикой своего приложения.

%h3
  Ограничения применения
%p
  Конечно, система взаимного заверения будет работать лишь тогда, когда большинство участников настроено на конструктивное ее использование. В таком случае все попытки мошенничества будут эффективно обрабатываться и отсекаться. И при этом они не смогут помешать проведению честных голосований и опросов в существенной степени.
%p
  В случае если в сети будет присутствовать слишком большое количество реальных людей - злоумышленников, желающих ее разрушить, работу этой системы сложно спрогнозировать. Вполне возможно, используя механизм обратной связи через указание уровня ответственности и механизм изоляции части сети заверения (указанием ключевых паспортов, которые принимаются за основные узлы сети заверения), деятельность сообщества может быть эффективной даже при наличии большого количества злоумышленников.
