%h2 Ваши голоса в сети доверия
%p
  = link_to new_user_thrust_vote_path do
    %button.btn.btn-primary
      = I18n.t('new')
%table.table.table-bordered.table-hover.table-condensed
  %tr
    %th.center
      = I18n.t('user_thrust_net.id')
    %th.center.col-sm-1
      = I18n.t('user_thrust_net.verify_level')
    %th.center.col-sm-1
      = I18n.t('user_thrust_net.thrust_level')
    %th.center.col-sm-2
      = I18n.t('actions')
  - @user_trust_votes.rows.each do |row|
    %tr
      %td
        = idhash_str(row[0])
      %td
        = row[1]
      %td
        = row[2]
      %td
        = link_to edit_user_thrust_vote_path(row[0]) do
          %button.btn.btn-default.btn-xs
            = I18n.t('edit')
        = link_to user_thrust_vote_path(row[0]), :method => 'delete', :confirm => I18n.t('are_you_sure') do
          %button.btn.btn-default.btn-xs
            = I18n.t('delete')
