%h2.center= I18n.t("titles.user_info")
%ol.breadcrumb.center
  %li
    = link_to I18n.t("titles.home"), root_path
%p.input-group
  %span.input-group-addon
    = I18n.t("user_info_page.nick")
  - input_style = "text-align: center;"
  %input.form-control{ :value => @nick, :readonly => true, :style => input_style }
  %span.input-group-addon
    = I18n.t("user_info_page.nick")
%p.input-group
  %span.input-group-addon
    = I18n.t("user_info_page.idhash")
  - input_style = "text-align: center;"
  - if !@doc_key
    - input_style = "#{input_style}background-color: red;"
  %input.form-control{ :value => @idhash, :readonly => true, :style => input_style }
  %span.input-group-addon
    = I18n.t("user_info_page.idhash")
%p.input-group
  %span.input-group-addon
    = I18n.t("user_info_page.doc_key")
  %input.form-control{ :value => @doc_key, :readonly => true, :style => 'text-align: center;' }
  %span.input-group-addon
    = I18n.t("user_info_page.doc_key")
%br
.center
  = simple_form_for :user, :url => user_path, :method => :put, :html => {:autocomplete => "off"} do |f|
    %table.invis.wide
      %tr
        %td.right{:width=>'50%'}= I18n.t("simple_form.labels.defaults.emails")
        %td.left= f.input_field :emails, required: false, :disabled => true
      %tr
        %td.right{:width=>'50%'}= I18n.t("simple_form.labels.defaults.skype")
        %td.left= f.input_field :skype, required: false, :disabled => true
      %tr
        %td.right{:width=>'50%'}= I18n.t("simple_form.labels.defaults.icq")
        %td.left= f.input_field :icq, required: false, :disabled => true
      %tr
        %td.right{:width=>'50%'}= I18n.t("simple_form.labels.defaults.jabber")
        %td.left= f.input_field :jabber, required: false, :disabled => true
      %tr
        %td.right{:width=>'50%'}= I18n.t("simple_form.labels.defaults.phones")
        %td.left= f.input_field :phones, required: false, :disabled => true
      %tr
        %td.right{:width=>'50%'}= I18n.t("simple_form.labels.defaults.facebook")
        %td.left= f.input_field :facebook, required: false, :disabled => true
      %tr
        %td.right{:width=>'50%'}= I18n.t("simple_form.labels.defaults.vk")
        %td.left= f.input_field :vk, required: false, :disabled => true
      %tr
        %td.right{:width=>'50%'}= I18n.t("simple_form.labels.defaults.odnoklassniki")
        %td.left= f.input_field :odnoklassniki, required: false, :disabled => true
%br
%table.invis{:align => 'center'}
  %tr
    %td{:width => '50%'}
      = link_to verify_from_user_verify_votes_path(:idhash => @idhash, :doc_key => @doc_key) do
        %button.btn.btn-info.btn-lg.wide= I18n.t("titles.other_user_verify_votes")
    %td
      = link_to trust_from_user_trust_votes_path(:idhash => @idhash, :doc_key => @doc_key) do
        %button.btn.btn-info.btn-lg.wide= I18n.t("titles.other_user_trust_votes")
    %td
      = link_to property_from_user_property_votes_path(:idhash => @idhash, :doc_key => @doc_key) do
        %button.btn.btn-info.btn-lg.wide= I18n.t("titles.other_user_property_votes")
  %tr
    %td
      = link_to verify_to_user_verify_votes_path(:idhash => @idhash, :doc_key => @doc_key) do
        %button.btn.btn-info.btn-lg.wide= I18n.t("titles.to_other_user_verify_votes")
    %td
      = link_to trust_to_user_trust_votes_path(:idhash => @idhash, :doc_key => @doc_key) do
        %button.btn.btn-info.btn-lg.wide= I18n.t("titles.to_other_user_trust_votes")
    %td
      = link_to property_to_user_property_votes_path(:idhash => @idhash, :doc_key => @doc_key) do
        %button.btn.btn-info.btn-lg.wide= I18n.t("titles.to_other_user_property_votes")
  %tr
    %td
      - if @idhash.present? && @doc_key.present?
        = link_to new_user_verify_vote_path(:idhash => @idhash, :doc_key => @doc_key) do
          %button.btn.btn-success.btn-lg.wide= I18n.t("master.actions.verify_other")
    %td
      - if @idhash.present?
        = link_to new_user_trust_vote_path(:idhash => @idhash) do
          %button.btn.btn-success.btn-lg.wide= I18n.t("master.actions.trust_other")
    %td
      - if @idhash.present?
        = link_to new_user_property_vote_path(:idhash => @idhash) do
          %button.btn.btn-success.btn-lg.wide= I18n.t("master.actions.property_other")

%br
.center
  = link_to "Назад", :back, :class => 'btn btn-default'
