%h2.center= I18n.t("titles.user_cabinet")
%h3.center
  = link_to I18n.t("titles.home"), root_path
%p.input-group
  %span.input-group-addon
    = I18n.t("your.idhash")
  %input.form-control{ :value => @idhash, :readonly => true, :style => 'text-align: center;' }
  %span.input-group-addon
    = I18n.t("your.idhash")
%p.input-group
  %span.input-group-addon
    = I18n.t("your.doc_key")
  %input.form-control{ :value => @doc_key, :readonly => true, :style => 'text-align: center;' }
  %span.input-group-addon
    = I18n.t("your.doc_key")
%br
.center
  = simple_form_for :user, :url => user_path, :method => :put, :html => {:autocomplete => "off"} do |f|
    %table.invis.wide
      %tr
        %td.right{:width=>'50%'}= I18n.t("simple_form.labels.defaults.emails")
        %td.left= f.input_field :emails, required: false
      %tr
        %td.right{:width=>'50%'}= I18n.t("simple_form.labels.defaults.skype")
        %td.left= f.input_field :skype, required: false
      %tr
        %td.right{:width=>'50%'}= I18n.t("simple_form.labels.defaults.icq")
        %td.left= f.input_field :icq, required: false
      %tr
        %td.right{:width=>'50%'}= I18n.t("simple_form.labels.defaults.jabber")
        %td.left= f.input_field :jabber, required: false
      %tr
        %td.right{:width=>'50%'}= I18n.t("simple_form.labels.defaults.phones")
        %td.left= f.input_field :phones, required: false
      %tr
        %td.right{:width=>'50%'}= I18n.t("simple_form.labels.defaults.facebook")
        %td.left= f.input_field :facebook, required: false
      %tr
        %td.right{:width=>'50%'}= I18n.t("simple_form.labels.defaults.vk")
        %td.left= f.input_field :vk, required: false
      %tr
        %td.right{:width=>'50%'}= I18n.t("simple_form.labels.defaults.odnoklassniki")
        %td.left= f.input_field :odnoklassniki, required: false
      %tr
        %td{:colspan => 2}
          = f.button :submit, "Обновить контактные данные", :class => 'btn btn-success'
%br

%p{ :align => 'center' }
  = link_to user_trust_votes_path do
    %button.btn.btn-primary.btn-lg= I18n.t("titles.user_trust_votes")
  = link_to to_user_trust_votes_path do
    %button.btn.btn-primary.btn-lg= I18n.t("titles.to_user_trust_votes")
/
  %p{ :align => 'center' }
    = link_to '#' do
      %button.btn.btn-default.btn-lg= I18n.t("titles.user_poll_votes")
  %p{ :align => 'center' }
    = link_to '#' do
      %button.btn.btn-default.btn-lg= I18n.t("titles.user_votes")
