%h1{:align => 'center'} Кабинет пользователя
%br
%p.input-group
  %span.input-group-addon
    ID
  %input.form-control{ :value => @user_idhash, :readonly => true }
%br
%p{ :align => 'center' }
  = link_to '#' do
    %button.btn.btn-primary.btn-lg Параметры пользователя
%p{ :align => 'center' }
  = link_to '#' do
    %button.btn.btn-primary.btn-lg Голоса в сети доверия
%p{ :align => 'center' }
  = link_to '#' do
    %button.btn.btn-primary.btn-lg Голоса в голосованиях
%p{ :align => 'center' }
  = link_to '#' do
    %button.btn.btn-primary.btn-lg Собственные голосования
%p{ :align => 'center' }
  = link_to root_path do
    %button.btn.btn-default.btn-lg На главную
