%h2.center= I18n.t("titles.trust_net_results")
%ol.breadcrumb.center
  %li
    = link_to I18n.t("titles.home"), root_path
%table.invis.wide
  %tr
    %td.right{:width => '50%'}= I18n.t("trust_net.iteration_count")
    %td
      %input.form-control{ :value => Settings.trust_net_options.iteration_count, :readonly => true, :style => 'text-align: center;' }
  %tr
    %td.right{:width => '50%'}= I18n.t("trust_net.average_limit")
    %td
      %input.form-control{ :value => Settings.trust_net_options.average_limit, :readonly => true, :style => 'text-align: center;' }
  %tr
    %td.right{:width => '50%'}= I18n.t("trust_net.last_time_calculate")
    %td
      %input.form-control{ :value => @last_time_calculate, :readonly => true, :style => 'text-align: center;' }
%br
%table.table.table-bordered.table-hover.table-condensed
  %tr
    %th.center
      = I18n.t('user_trust_net.id')
    %th.center
      = I18n.t('user_trust_net.doc_key')
    %th.center.col-sm-1
      = I18n.t('user_trust_net.verify_level')
      %br
      - if @sort == 'verify'
        = link_to trust_net_path(:sort => 'verify_desc') do
          %span.glyphicon.glyphicon-sort-by-attributes-alt
      - elsif @sort == 'verify_desc'
        = link_to trust_net_path(:sort => 'verify') do
          %span.glyphicon.glyphicon-sort-by-attributes
      - else
        = link_to trust_net_path(:sort => 'verify') do
          %span.glyphicon.glyphicon-sort
    %th.center.col-sm-1
      = I18n.t('user_trust_net.trust_level')
      %br
      - if @sort == 'trust'
        = link_to trust_net_path(:sort => 'trust_desc') do
          %span.glyphicon.glyphicon-sort-by-attributes-alt
      - elsif @sort == 'trust_desc'
        = link_to trust_net_path(:sort => 'trust') do
          %span.glyphicon.glyphicon-sort-by-attributes
      - else
        = link_to trust_net_path(:sort => 'trust') do
          %span.glyphicon.glyphicon-sort
    %th.center.col-sm-1
      = I18n.t('user_trust_net.votes_count')
      %br
      - if @sort == 'count'
        = link_to trust_net_path(:sort => 'count_desc') do
          %span.glyphicon.glyphicon-sort-by-attributes-alt
      - elsif @sort == 'count_desc'
        = link_to trust_net_path(:sort => 'count') do
          %span.glyphicon.glyphicon-sort-by-attributes
      - else
        = link_to trust_net_path(:sort => 'count') do
          %span.glyphicon.glyphicon-sort
  - @results.each do |row|
    %tr
      %td
        = link_to doc_info_user_path(:doc_key => row.doc_key, :idhash => row.idhash) do
          = show_idhash(row.idhash)
      %td.center
        = link_to "http://spreadsheets.google.com/ccc?key=#{row.doc_key}", :target => '_blank' do
          = spaced_str(row.doc_key)
      %td.center
        = sprintf('%.2f', row.verify_level)
      %td.center
        = sprintf('%.2f', row.trust_level)
      %td.center
        = row.votes_count
%p{ :align => 'center' }
  = link_to members_trust_net_path do
    %button.btn.btn-primary.btn-lg= I18n.t("titles.trust_net_members")
