%h2.center= I18n.t("titles.user_property_vote_new")
%ol.breadcrumb.center
  %li
    = link_to I18n.t("titles.home"), root_path
  %li
    = link_to I18n.t("titles.user_cabinet"), user_path
  %li
    = link_to I18n.t("titles.user_property_votes"), user_property_votes_path
  
= simple_form_for :vote, :url => user_property_vote_path(@vote.id), :method => :put, :html => {:autocomplete => "off"} do |f|
  .center
    = f.input :vote_idhash, required: false, disabled: true, :input_html => {:size=> '76', :class=>'center'}
    = link_to "проверка идентификатора пользователя", idhash_check_user_path, :target => "_blank"
    = f.input :vote_property_key, required: false, disabled: true, :input_html => {:size=> '60', :class=>'center'}
  %br
  .panel.panel-default
    .panel-heading
      %b
        = I18n.t('user_trust_net.property_level')
    .panel-body.center
      %p
        Своим голосом вы должны удостоверить степень вашей уверенности в том, что данный человек,
        с указанными выше персональными данными или идентификатором пользователя, соответствует смыслу указанного свойства.
      %table.white.wide.padded
        %tr
          %td.left{:width => '20%'}
          %td.center
            = f.input_field :vote_property_level, required: true, label: false, id: 'property-level', size: 4, style: 'text-align: center;', readonly: true
          %td.right{:width => '20%'}
        %tr
          %td{:colspan => 3}
            %div{ id: 'slider-range-property' }
        %tr
          %td.left{:width => '20%'}
            Не соответствует
          %td.center
            Пока не знаю
          %td.right{:width => '20%'}
            Польностью соответствует
  .center
    = f.button :submit, "Готово", :class => 'btn btn-primary'
    = link_to "Назад", :back, :class => 'btn btn-default'
