!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Google Drive Votes'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Google Drive Votes'}"}
    = include_gon
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    -# application layout styled for Twitter Bootstrap 3.0
    %main{:role => "main"}
      .container
        .container
          .content
            .row
              .col-md-12
                = render 'layouts/messages'
                = yield
            %footer
